:root {
    --primary-color: #1B98E0;
    --secondary-color: #006494;
    --tertiary-color: #247BA0;

    --black-color: #13293D;
    --white-color: #E8F1F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--secondary-color);
    color: var(--white-color);
    text-align: center;
    height: 5vh;
}

main {
    display: grid;
    grid-template-columns: 310px 1fr;
    min-height: 95vh;
}

#registrarDatos {
    background-color: var(--secondary-color);
    border-right: 1px solid var(--black-color);
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

#registrarDatos div {
    border-top: 1px solid var(--black-color);
    border-bottom: 1px solid var(--black-color);
    padding: .5rem;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

#registrarDatos div ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 90%;
}

#registrarDatos div ul li {
    text-align: center;
    /* border: 1px solid red; */
}

#registrarDatos div ul li input {
    background-color: var(--secondary-color);
    border: none;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--black-color);
    color: var(--white-color);
    transition: color .5s;
}

#registrarDatos div ul li input::placeholder {
    color: var(--black-color);
}

#registrarDatos div ul li input:focus {
    color: var(--primary-color);
}

#registrarDatos div button {
    background-color: var(--black-color);
    border: 1px solid var(--black-color);
    color: var(--white-color);
    min-width: 200px;
    width: 70%;
    height: 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color .25s;
}

#registrarDatos div button:hover {
    background-color: var(--secondary-color);
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid var(--black-color);
}

footer p {
    padding: .25rem;
    text-align: center;
    color: var(--white-color);
}

#mostrarDatos {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#mostrarDatos div {
    border-top: 1px solid var(--black-color);
    border-bottom: 1px solid var(--black-color);
    padding: .5rem 0;
}

#mostrarDatos div table {
    margin: 0 auto;
}

#mostrarDatos div table caption {
    padding: 0 0 .25rem;
}

#mostrarDatos div table thead tr th:first-of-type {
    border-top-left-radius: .5rem;
}

#mostrarDatos div table tbody tr:last-of-type td:last-of-type {
    border-bottom-right-radius: .5rem;
}

#mostrarDatos div table td {
    background-color: var(--primary-color);
}

#mostrarDatos div table th {
    background-color: var(--secondary-color);
}

#mostrarDatos div table td,
#mostrarDatos div table th {
    text-align: center;
    color: var(--white-color);
    padding: .25rem;
    border: 1px solid var(--black-color);
}

#mostrarDatos div table tr th,
#mostrarDatos div table tr td {
    transition: background-color .25s;
}

#mostrarDatos div table tr:hover th {
    background-color: var(--black-color);
}

#mostrarDatos div table tr:hover td {
    background-color: var(--tertiary-color);
}